<h1>Prescriptions Info</h1>
<p>Preferred Pharmacy like CVS or Walgreens listed here</p>
<p>Closest pharmacy in proximity to users home</p>
<p>Prescription History etc</p>
<p>Current prescription counter and date of refill etc</p>
