<h4 class="interactive">Real-time Interactive knowledge</h4>
<h4></h4><%#= link_to 'something', "", class: "interactive" %>

<iframe
  id="embedded-human"
  frameBorder="0"
  width="600"
  height="600"
  allowFullScreen="true"
  src="https://human.biodigital.com/widget?be=1GUA&bgstd=51,64,77,255,255,255&ui-isolate=true&ui-xray=true&ui-help=true&dk=f7662d9e47c2ba2b408c11262ec11535a905f4d3">
</iframe>