<div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
  <div class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
    <h1>Activity</h1>
  </div>
</div>