<h3>Patient Dashboard</h3>
<div class="demo-charts mdl-cell mdl-cell--12-col mdl-grid">
  <div viewBox="0 0 1 1" class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop action-panel">
    <%= link_to interactive_result_path(current_user), data: {turbolinks: "false"} do %>
      <div class="inner-action-panel">
        <span class="mdl-badge" data-badge="1">Message</span>
        <h4 class="inner-action-name">your health</h4>
        <i class="fa fa-medkit dashboard" aria-hidden="true"></i>
      </div>
    <% end %>
  </div>

  <div viewBox="0 0 1 1" class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop action-panel">
    <div class="inner-action-panel">
      <h4 class="inner-action-name">Contact office</h4>
      <i class="fa fa-comment-o dashboard" aria-hidden="true"></i>
    </div>
  </div>

  <div viewBox="0 0 1 1" class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop action-panel">
    <div class="inner-action-panel">
      <h4 class="inner-action-name">Condition Alerts</h4>
      <i class="fa fa-flag-o dashboard" aria-hidden="true"></i>
    </div>
  </div>

  <div viewBox="0 0 1 1" class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop action-panel">
    <%= link_to goal_path(current_user), data: {turbolinks: "false"} do %>
      <div class="inner-action-panel">
        <h4 class="inner-action-name">Goals Manager</h4>
        <i class="fa fa-check-circle-o fa-4" aria-hidden="true"></i>
      </div>
    <% end %>
  </div>

</div>