<h1>Communications</h1>
<h5>Directly correspond with the office...</h5>
<p>Send text messages to the office</p>
<p>Send email messages to the office</p>
<p>CM(caremanager) Coach - video-based communication tool for post-discharge coaching</p>
