<div class="row">
  <div class="col-sm-4 col-sm-offset-3">
    <% if calculate_age.nil? || calculate_age >= 18 %>
      <%= render "contact_info_form" %>
    <% else %>
      <%= render "guardian_info_form" %>
    <% end %>
  </div>
</div>



